[Unit]
Description=Klusterview
After=network.target auditd.service

[Service]
ExecStartPre=/usr/local/bin/klusterview
ExecStart=/usr/local/bin/klusterview
ExecReload=/usr/local/bin/klusterview
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RuntimeDirectory=klusterview
RuntimeDirectoryMode=0755

[Install]
WantedBy=multi-user.target
